# ==============================================================================
# CONFIGURAÇÕES DOS REPOSITÓRIOS
# ==============================================================================
DSPACE_BACKEND_REPO=https://github.com/DSpace/DSpace.git
DSPACE_FRONTEND_REPO=https://github.com/DSpace/dspace-angular.git

# Aceita tanto Tags (ex: dspace-10.0) quanto Branches (ex: main, dev)
# IMPORTANTE: use tags/branches compatíveis
DSPACE_BACKEND_TAG=dspace-10.0
DSPACE_FRONTEND_TAG=dspace-10.0

# ==============================================================================
# FRONTEND - CONFIGURAÇÕES DO ANGULAR 
# ==============================================================================

# Conexão com o endpoint público REST da API DSpace
DSPACE_REST_SSL=false
DSPACE_REST_HOST=localhost
DSPACE_REST_PORT=8080
DSPACE_REST_NAMESPACE=/server

# ==============================================================================
# BACKEND - CONFIGURAÇÕES DO JAVA
# ==============================================================================

DSPACE_NAME="Repositório DSpace"
# URL pública do backend do DSpace (API Java) 
DSPACE_SERVER_URL=http://localhost:8080/server
# URL pública do dspace-angular (Home page)
DSPACE_UI_URL=http://localhost:4000


# ==============================================================================
# INFRAESTRUTURA (BANCO DE DADOS)
# ==============================================================================
POSTGRES_VERSION=15
POSTGRES_USER=dspace
POSTGRES_PASSWORD=dspace_docker