###############################################################################
# English: Important Notes
###############################################################################
#
# The properties listed below are managed by the Docker deployment and should
# not be modified in this file.
#
# Fixed properties:
# - dspace.dir
# - dspace.server.ssr.url
# - db.url
# - solr.server
#
# These values are required for communication between containers on the internal
# Docker network. Changing them may prevent DSpace from connecting to
# PostgreSQL, Solr, or other internal services, causing the application to
# fail during startup or operation.
#
# The following properties are also managed by Docker Compose:
# - dspace.name               (from DSPACE_NAME)
# - dspace.server.url         (from DSPACE_SERVER_URL)
# - dspace.ui.url             (from DSPACE_UI_URL)
# - db.username               (from POSTGRES_USER)
# - db.password               (from POSTGRES_PASSWORD)
#
# These settings must be configured in the .env file. Defining them in
# local.cfg will have no effect, as the values provided through Docker Compose
# override the values defined here.
#
# Property mapping between local.cfg and .env:
# - dspace.name       <=> DSPACE_NAME
# - dspace.server.url <=> DSPACE_SERVER_URL
# - dspace.ui.url     <=> DSPACE_UI_URL
# - db.username       <=> POSTGRES_USER
# - db.password       <=> POSTGRES_PASSWORD
#
###############################################################################
# Português: Observações Importantes
###############################################################################
#
# As propriedades listadas abaixo são gerenciadas pela implantação Docker e
# não devem ser modificadas neste arquivo.
#
# Propriedades fixas:
# - dspace.dir
# - dspace.server.ssr.url
# - db.url
# - solr.server
#
# Esses valores são necessários para a comunicação entre os containers na rede
# interna do Docker. Alterá-los pode impedir que o DSpace se conecte ao
# PostgreSQL, Solr ou outros serviços internos, causando falhas na
# inicialização ou funcionamento da aplicação.
#
# As propriedades abaixo também são gerenciadas pelo Docker Compose:
# - dspace.name               (proveniente de DSPACE_NAME)
# - dspace.server.url         (proveniente de DSPACE_SERVER_URL)
# - dspace.ui.url             (proveniente de DSPACE_UI_URL)
# - db.username               (proveniente de POSTGRES_USER)
# - db.password               (proveniente de POSTGRES_PASSWORD)
#
# Essas configurações devem ser alteradas no arquivo .env. Defini-las no
# local.cfg não produzirá efeito, pois os valores fornecidos pelo Docker
# Compose sobrescrevem os valores definidos neste arquivo.
#
# Correspondência entre propriedades do local.cfg e variáveis do .env:
# - dspace.name       <=> DSPACE_NAME
# - dspace.server.url <=> DSPACE_SERVER_URL
# - dspace.ui.url     <=> DSPACE_UI_URL
# - db.username       <=> POSTGRES_USER
# - db.password       <=> POSTGRES_PASSWORD
#
###############################################################################
# Español: Observaciones Importantes
###############################################################################
#
# Las propiedades listadas a continuación son administradas por la
# implementación Docker y no deben modificarse en este archivo.
#
# Propiedades fijas:
# - dspace.dir
# - dspace.server.ssr.url
# - db.url
# - solr.server
#
# Estos valores son necesarios para la comunicación entre los contenedores en
# la red interna de Docker. Modificarlos puede impedir que DSpace se conecte a
# PostgreSQL, Solr u otros servicios internos, provocando errores durante el
# inicio o funcionamiento de la aplicación.
#
# Las siguientes propiedades también son administradas por Docker Compose:
# - dspace.name               (proveniente de DSPACE_NAME)
# - dspace.server.url         (proveniente de DSPACE_SERVER_URL)
# - dspace.ui.url             (proveniente de DSPACE_UI_URL)
# - db.username               (proveniente de POSTGRES_USER)
# - db.password               (proveniente de POSTGRES_PASSWORD)
#
# Estas configuraciones deben modificarse en el archivo .env. Definirlas en
# local.cfg no tendrá efecto, ya que los valores proporcionados por Docker
# Compose sobrescriben los valores definidos aquí.
#
# Correspondencia entre propiedades de local.cfg y variables de .env:
# - dspace.name       <=> DSPACE_NAME
# - dspace.server.url <=> DSPACE_SERVER_URL
# - dspace.ui.url     <=> DSPACE_UI_URL
# - db.username       <=> POSTGRES_USER
# - db.password       <=> POSTGRES_PASSWORD
#
# Alterações no arquivo `local.cfg` exigem a reinicialização do container do backend para que sejam aplicadas.
#
###############################################################################
